<% layout("/layouts/biolerplate") %>
<style>
   .login-bg-image
  {
    /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/2327ffa4-20e9-41b6-b77c-462d26f7bfea/d3ecbzg-045f95bb-8610-4dbb-84ab-e1d08fb037d7.jpg"); */
    background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    height:100vh;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    
  }
</style>
<body class="login-bg-image" >

    <div class="login-container" style=" margin:2rem auto;">
      <div class="form-div">
        <h3 style=" margin-left:35%;   color:rgb(172, 36, 221);">Login</h3> 
        <form action="/homepage/login" method="post" novalidate class="needs-validation">
            
            <div>
                <input type="text" name="login[username]" class="form-control mb-0" placeholder="Enter Username" required>
                <div class="invalid-feedback">Please Enter Username</div>
            </div>
            <div>
                <input type="password" name="login[password]" class="form-control password mb-0" placeholder="Password" required>
                <div class="invalid-feedback">Please Enter password</div>
                <div class="password-error" style="display:none; color:red; font-weight:300;">Must be at least 8 words one Capital and small one special character and number</div>
            </div>
            <br>
            <div>
               <label for="show-pass">Show password</label><br>
               <input type="checkbox" id="show-pass" class="m-0" onchange="handleChange()">
            </div>
            
            <button class="btn submit-btn mt-4" disabled style="background-color: rgb(172, 36, 221); color:white;">Proceed</button>
        </form>
      </div>
    </div>
     <script>
         const passwordInput=document.querySelector(".password");
         const passError=document.querySelector(".password-error");
         const submitBtn=document.querySelector(".submit-btn");
         const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]+$/;
         
         passwordInput.addEventListener("input",()=>{
              if(passwordInput.value.length<8 ||  !passwordRegex.test(passwordInput.value)){
                 passError.style.display="inline";
                 submitBtn.disabled=true;
              }
              else {
               passError.style.display='none';
               submitBtn.disabled=false;
              }
                
         });
        
        
        const handleChange=()=>{
              if(passwordInput.type=='password'){
                 passwordInput.type="text";
              }
              else 
                 passwordInput.type="password";
        }
     </script>

    
</body>